/* Navbar */
.navbar-brand{
    float: right;
	padding: 0 10%;
	margin: 0;
	display: flex;
	align-items: left;
}

.navbar-nav{
	padding: 0 5%;
	margin: 0;
	justify-content: space-around;
	align-items: center;
}

.nav-item{
    padding: 0 35px;
}

.custom-button{
    background-color: #daf7a6;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

}
.custom-buttonn{
    background-color: #2e2117;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}


/* DISPLAY */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.col-left {
    flex: 2;
    padding: 20px;
    margin-top: 70px;
}

.col-right {
    flex: 1;
    position: relative;
}

.col-left h1 {
    margin-top: 0;
    font-size: 60px;
}

.col-left .button1 {
    display: inline-block;
    background-color: #daf7a6;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 8px;
    border: none;
}

.col-left .button2 {
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 8px;
    border: none;
}

span.colored-text{
    color: #77673a;
}

.col-right img {
    width: 100%;
    height: 500px;
}

.button-top {
    position: absolute;
    bottom: 205px;
    left: 30px;
    background-color: whitesmoke;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button-bottom {
    position: absolute;
    bottom: 70px;
    left: 30px;
    background-color: #2e2117;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.text {
    position: absolute;
    bottom: 105px;
    left: 30px;
    color: white;
    font-size: 50px;
    text-align: center;
}


/* WHY CHOOSE US */
.wcu-container {
    background-color: #2e2117;
    padding: 20px;
}

.text-1 {
    text-align: left;
    color: #daf7a6;
    padding-left: 120px;
    padding-top: 50px;
    padding-bottom: 0;
    font-size: 20px;
}

.text-2 {
    text-align: left;
    color: #daf7a6;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    font-size: 50px;
    font-weight: 600;
}

.column-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5%;
}

.column {
    width: 300px;
    margin: 10px;
    text-align: left;
    background-color: transparent;
    border-radius: 5px;
}

.wcu-contents {
    font-weight: 600;
    position: relative;
    font-size: 20px;
    letter-spacing: -0.64px;
    color: #daf7a6
}

.Features {
    position: relative;
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.IconFrame {
    padding: 8px 12px;
    background-color: #7b8761;
    border-radius: 8px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}


/* PARTNER */
.partner-container {
    background-color: #fafafa;
    padding: 20px;
}

.partner-number{
    font-size: 70px;
    font-weight: 600;
    padding-left: 120px;
    padding-top: 30px;
    margin: 0;
}

.partner-text{
    font-size: 20px;
    padding-left: 120px;
}

.partner-brands{
    margin: 80px;
}

.img-brands{
    margin: 15px;
}

/* CATEGORIES */
.categories{
    background-color: white;
    padding-top: 65px;
    padding-bottom: 65px;
}

.img-cat{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.img-cat2{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.cat-rec{
    margin: 0px 20px;
}

.cat-rec-title{
    font-size: 25px;
}

.cat-rec-sets{
    font-size: 50px;
    font-weight: 600;
}

/* Style untuk daftar grup */
.list-group {
    list-style: none;
    background: #fafafa;
    border-spacing: 10px;
    padding: 0;
    margin-right: 100px;
}

/* Style untuk judul list */
.list-item {
    cursor: pointer;
    font-weight: bold;
}

/* Style untuk konten penjelasan */
.list-content {
    display: none;
    margin-left: 20px;
}

.list-content.show {
    display: block;
}


/* PRODUCTS */
.product{
    background-color: #2e2117;
    color: #daf7a6;
}

.product-title{
    padding-top: 50px;
    padding-left: 120px;
    font-size: 20px;
}

.product-text{
    padding-left: 120px;
    font-size: 50px;
    font-weight: 600;
}

.product-all{
    background-color: #daf7a6;
    color: black;
    float: right;
    margin-top: 75px;
    overflow: hidden;
    margin-right: 120px;
    border: 0;
    border-radius: 8px;
    padding: 8px 12px;
}

.img-wrapper{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img{
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width:576px) {
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 30px;
        flex: 0 0 calc(100%/3);
    }
    .img-wrapper{
        height: 23vw;
    }
}

.carousel-inner{
    padding: 30px;
}

.card{
    margin: 0 .5em;
}

/* .carousel-control-prev, .carousel-control-next{
    width: 60px;
    height: 100px;
    background-color: #daf7a6;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
} */


/* DEALS */
.deals{
    background-color: #fafafa;
    color: black;
}

.deals-title{
    text-align: left;
    color: black;
    padding-left: 120px;
    padding-top: 50px;
    padding-bottom: 0;
    font-size: 20px;
}

.deals-text{
    text-align: left;
    color: black;
    padding-left: 120px;
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 50px;
    font-weight: 600;
}

.deals-email{
    padding-left: 105px;
    padding-bottom: 30px;
}

.input{
    border-radius: 8px 0 0 8px;
}

.mail-button{
    background: #daf7a6;
    border: 0;
    border-radius: 0 8px 8px 0;
    padding: 4px 8px;
}


/* Footer */
.footer{
    background-color: white;
    padding: 30px;
}

.footer-img{
    margin: 50px;
    width: 100px;
}

.footer-text{
    font-size: 15px;
    color: grey;
    margin-left: 50px;
    margin-bottom: 50px;
}

.footer-container{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.row{
    row-gap: 15px;
    font-size: 20px;
    margin-bottom: 15px;
}

.row2{
    color: grey;
    row-gap: 15px;
    font-size: 15px;
}
